legacy-peer-deps=true
enable-pre-post-scripts=false
dedupe-peer-dependents=true
resolution-mode=highest
node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-frozen-lockfile=true
side-effects-cache=false
unsafe-perm=true
